@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Edu+SA+Beginner:wght@400;500;600;700&family=Great+Vibes&family=Heebo:wght@200;300&family=Kalam&family=Oswald:wght@200;300;400;500;600;700&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,800;1,400;1,500;1,600;1,700;1,800&family=ZCOOL+XiaoWei&display=swap');

.body-poem {
  top: 0;
  background-color: #809ca7;
  height: 100vh;
}


.title {
  text-align: center;
  padding: 15px;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #123456;
  font-family: 'ZCOOL XiaoWei', sans-serif;
  animation: lights 5s 750ms linear infinite;
  /* animation: tit 3s ease-in-out forwards; */
}

.row {
  margin: 10px 10px 10px 10px;
}

.col {
  height: 550px;
  padding-top: 30px;
  box-shadow: inset 0 0 10px #353534;
  font-family: 'Belleza', sans-serif;
  font-size: 20px;
  transition: transform 1s;
  transform-origin: left;
}

.bg-image {
  background-image: url("https://i.pinimg.com/564x/c3/4e/d6/c34ed601117ae1bb5797118cb289aae8.jpg");
  /* background-image: url(https://i.pinimg.com/564x/cc/13/37/cc1337c6da9c885fd803020396f1e22a.jpg); */
  /* background-image: url(https://i.pinimg.com/236x/16/30/cd/1630cd0d4e56c2fa51d24f308a655468.jpg); */
  /* background-image: url(https://i.pinimg.com/236x/0b/bf/63/0bbf63f66b804828fa9d0727aaf7bc3f.jpg); */
  /* background-image: url(https://i.pinimg.com/236x/48/8f/d6/488fd641c1b082a03d36d4dd4866a82e.jpg); */
  /* background-image: url(https://i.pinimg.com/236x/b4/5a/47/b45a472177095284f9e7955e4ebfc0ee.jpg); */
  background-position : calc(100% - -130px ) -230px;
  object-fit: cover;
}

@keyframes lights {
  0% {
    color: hsl(231, 51%, 34%);
    text-shadow:
      0 0 1em hsla(320, 98%, 19%, 0.61),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(281, 73%, 19%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(160, 85%, 21%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(340, 88%, 25%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(355, 70%, 40%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

@keyframes tit {
  0% {
    line-height: 0%;
    letter-spacing: .25em;
    opacity: 0;
}
25% {
    line-height: 0%;
    opacity: 0;
}
80% {
    opacity: 100%;
}
100% {
    line-height: 100%;
    opacity: 100%;
}
}

/* @keyframes text-animation {
  0% {margin-top: 0;}
  10% {margin-top: 0;}
  20% {margin-top: -5.62rem;}
  30% {margin-top: -5.62rem;}
  40% {margin-top: -11.24rem;}
  60% {margin-top: -11.24rem;}
  70% {margin-top: -5.62rem;}
  80% {margin-top: -5.62rem;}
  90% {margin-top: 0;}
  100% {margin-top: 0;}
} */

#p1 {
  white-space: nowrap;
  padding-left: 15px;
  overflow: hidden;
  width: 100%;
  animation: 9s anim-lineUp ease-out both;  
  color: #8f1010; 
}

#p2 {
  white-space: nowrap;
  overflow: hidden;
  padding-left: 15px;
  width: 100%;
  color: #042646; 
  animation: 15s anim-lineUp ease-out forwards;
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 100%;}
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: rgb(38, 74, 194); }
}

.arrow{
  float: right;
  cursor: pointer;
  position:relative;
  display:block;
  left: 100px;
  margin: 12rem 0 0 0;
  width:80px;
  height: 80px;
  border: solid 6px rgb(255, 255, 255);
  border-radius: 100%;
  z-index: 1;
  transition: all .2s linear;
  &:before, &:after{
    content:"";
    position: absolute;
    width:35%;
    height: 10%;
    top:41%;
    left:55%;
    background: rgb(255, 255, 255);
    z-index: 2;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all .2s linear;
  }
  &:after{
    z-index: 3;
    top:59%;
    left:55%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  &:hover{
    border: solid 8px rgb(255, 255, 255);
    &:after, &:before{
      background: #777;
    }
  }
  &:active{
    border: solid 8px rgb(241, 235, 235);
    &:after, &:before{
      background: #111;
    }
  }
}

@media (max-width: 768px) {
  .body-poem {
    height: 100%;
  }
  .container {
    flex-direction: column;
  }
  .poem-container-left {
    width: 100%;
  }
  .col {
    height: auto;
    padding: 30px;
    font-size: 16px;
  }
  .arrow {
    left: 15px;
    width:60px;
    height: 60px;
    border: solid 4px rgb(255, 255, 255);
    border-radius: 100%;
  }
}

@keyframes typing {
  from {
      width: 0;
  }
}
@keyframes blink-caret {
  50% {
      border-color: transparent;
  }
}



/* .bg-image {
  background-image: url(https://i.pinimg.com/236x/f2/49/1c/f2491ca549523fdb2121c5df010a2538.jpg);
  background: no-repeat;
} */

/* 
.bg-image {
  background-image: url(https://i.pinimg.com/564x/cc/13/37/cc1337c6da9c885fd803020396f1e22a.jpg);
} */

/* .p1{
  width: 50%;
  height: 100%;
  padding: 20px;
  overflow: hidden;
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
} */

/* @keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
} */

/* @keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
} */
